# ==============================
# POMP NET
# ==============================

POMPNET_ADMIN_USERNAME=PompNet-Mohammad
POMPNET_ADMIN_PASSWORD=PompNet-Mohammad

POMPNET_SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

POMPNET_DATA_DIR=/data


# ==============================
# GITHUB
# ==============================

GITHUB_REPO=uxurx7rh7e7xr73uue73e8/Mohammad-PompNet-Panel

GITHUB_TOKEN=


# ==============================
# CLOUDFLARE
# ==============================

CLOUDFLARE_API_TOKEN=

CLOUDFLARE_ZONE_ID=


# ==============================
# OPTIONAL SANAЕI / X-UI
# ==============================

SANEAI_URL=
SANEAI_USERNAME=
SANEAI_PASSWORD=
SANEAI_TOKEN=
