POMPNET_APP_NAME=MR:Mohammad Pomp Net
POMPNET_TIMEZONE=Asia/Tehran

POMPNET_DATABASE=/data/pompnet.db

POMPNET_ADMIN_USER=admin
POMPNET_ADMIN_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

POMPNET_SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

GITHUB_REPO=uxurx7rh7e7xr73uue73e8/Mohammad-PompNet-Panel
GITHUB_TOKEN=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

TELEGRAM_BOT_TOKEN=

SANEAI_URL=
SANEAI_USERNAME=
SANEAI_PASSWORD=
SANEAI_TOKEN=

SUBSCRIPTION_BASE_URL=

PORT=8080
