POMPNET_APP_NAME=MR:Mohammad Pomp Net
POMPNET_TIMEZONE=Asia/Tehran

POMPNET_DATABASE=pompnet.db

POMPNET_ADMIN_PASSWORD=CHANGE_ME
POMPNET_SESSION_SECRET=CHANGE_ME_RANDOM_SECRET

GITHUB_REPO=uxurx7rh7e7xr73uue73e8/Mohammad-PompNet-Panel
GITHUB_TOKEN=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

TELEGRAM_BOT_TOKEN=

SANEAI_URL=
SANEAI_USERNAME=
SANEAI_PASSWORD=

SUBSCRIPTION_BASE_URL=
